<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="simple.css">
    <title>Bokliste</title>
</head>

<body>
<h4>Bokliste</h4>
<a href="sokeside.html">Gjør et søk på forfatter</a><br>
<a href="alleboker">Se listen av alle bøker</a><br>
<table>
    <tr>
        <th style="text-align: left">Tittel</th>
        <th style="text-align: left">Forfatter</th>
        <th>År</th>
    </tr>
    <!-- En rad per bok som viser bokens tittel, forfatter og år -->
</table>

</body>
</html>
